<div class="container">
  <div class="column column-12">
    <form class="editSalaryBonusForm" [formGroup]="editSalaryBonusForm" (ngSubmit)="editSalaryBonus()">
      <mat-form-field appearance="fill">
        <mat-label>Employee</mat-label>
        <mat-select (selectionChange)="onChangeEmployee($event)" formControlName="employee" required>
          <mat-option *ngFor="let employee of employees" value="{{ employee.id }}">
            {{ employee.firstName }} {{ employee.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Bonus Type</mat-label>
        <mat-select (selectionChange)="onChangeBonusSetNetBonus()" formControlName="bonusType" required>
          <mat-option *ngFor="let bonusType of bonusTypes" value="{{ bonusType }}">{{ bonusType }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div style="width: 15%; height: 30px">
        <div
          class="salary-message"
          *ngIf="
            selectedEmployee !== undefined &&
            (selectedEmployee.salary === null || selectedEmployee.salary.salary === null)
          "
        >
          This employee doesn't have salary set.
        </div>
        <div
          class="salary-message"
          *ngIf="
            selectedEmployee !== undefined &&
            selectedEmployee.salary !== null &&
            selectedEmployee.salary.salary !== null
          "
        >
          Salary: {{ selectedEmployee.salary.salary }}
        </div>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Net Bonus</mat-label>
        <input matInput formControlName="netBonus" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Amt in $</mat-label>
        <input matInput formControlName="amtInDollar" />
      </mat-form-field>
      <div class="action-buttons">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button class="update-button" mat-raised-button type="submit" [disabled]="!editSalaryBonusForm.valid">
          Update
        </button>
      </div>
    </form>
  </div>
</div>
